
<h3>{{ listName() }}</h3>
    <ul>
        @for (character of characters(); track character.id; let i = $index) {

            @if(character.power > 2000) {
                <li>
                    <span> {{i+1}} - {{ character.name }} </span> 
                    <strong class="text-danger">{{ character.power }}</strong>
                </li>
            } @else {
                <li>
                    <strong>Aqui no hay nadie</strong>
                </li>
            }
        }
    </ul>
    <ol>

        @for(character of characters(); track character.id) {
            <li>
                <span> {{ character.name }} </span> 
                <strong [class.text-danger]="character.power > 8500"
                        [class.text-primary]="character.power < 8500"
                >{{ character.power }}</strong>
            </li>
        }
    </ol>